html {
    font-family: 'Roboto', sans-serif;
    height: 100%;
    margin: 0;
    padding: 0;
}
body { 
    padding-top: 4rem; 
    padding-bottom: 4.5rem;
    color: #666666;
    height: 100%;
    margin:0;
}
.boton{
    transition: all .2s ease-in-out;
}
.boton:hover
{
    transform: scale(1.05);
}
.menu {
    transition: all .2s ease-in-out;
}
.menu:hover{
    -webkit-filter: drop-shadow(5px 5px 5px #FFFFFFAA);
  filter: drop-shadow(5px 5px 5px #FFFFFFAA);
}.menu-inactivo {
    transition: all .2s ease-in-out;
}
.menu-inactivo:hover{
    -webkit-filter: drop-shadow(5px 5px 5px #153723AA);
  filter: drop-shadow(5px 5px 5px #153723AA);
}
.fondo{
    background-image: url(imagenes/fondo.svg);
    background-repeat: repeat-x;
    background-size: 10rem;
    background-position: left bottom;
}
main{
    height: 100%;
    overflow: auto;
}
a{
    color:#666666;
    text-decoration: none;
}

a:active{
    color:#666666;
    text-decoration: none;
}
a:hover{
    color:#666666;
    text-decoration: none;
}
a:visited{
    color:#666666;
    text-decoration: none;
}
.link{
    color:#ffffff;
    text-decoration: none;
}

.link:active{
    color:#ffffff;
    text-decoration: none;
}
.link:hover{
    color:#ffffff;
    text-decoration: none;
}
.link:visited{
    color:#ffffff;
    text-decoration: none;
}

